div.container.mx-auto.max-w-screen-md
  div.grid.grid-cols-2.border-red-500.border-2.p-1
    div#drop-zone(class="flex basis-1 items-center justify-center rounded-lg m-2 h-40 border-dashed border-2 border-gray-500")
      h1 Drag WAV file here
    div#results(class="flex basis-1/2 items-center justify-center rounded-lg h-40 m-2 border-2 border-gray-500")
      h1 Result
